<configuration>
   ... 
  <connectionStrings>
    <add name="InformixContext" connectionString="Offline=False;Server=10.0.1.2;Port=50000;User=admin;Password=admin;Database=test;" providerName="System.Data.CData.Informix" />
  </connectionStrings>
  <entityFramework>
    <providers>
       ... 
      <provider invariantName="System.Data.CData.Informix" type="System.Data.CData.Informix.InformixProviderServices, System.Data.CData.Informix.Entities.EF6" />
    </providers>
  <entityFramework>
</configuration>
</code> 
